* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #8e70e6;
}
  
.container {
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
  
form {
    width: 23.75em;
    height: 40em;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 3.1em);
    left: 50%;
    padding: 0 3.1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5em;
}

form label {
    display: block;
    margin-bottom: 0.2em;
    font-weight: 600;
    color: #2e0d30;
}

form input {
font-size: 0.95em;
font-weight: 400;
color: #3f3554;
padding: 0.1em;
border: none;
border-bottom: 0.12em solid #3f3554;
outline: none;
}

form input :focus {
    border-color: #71c418;
}

form input ::placeholder{
    color: #b4b5b3;
}

form input:not(:last-child) {
    margin-bottom: 0.2em;
}

.photo-frame { 
    margin-top: 10px; 
    width: 100px;
    height: 100px; 
    border: 1px solid #ccc; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    background-color: #f9f9f9; 
} 

.photo-frame img { 
    max-width: 100%; 
    max-height: 100%; 
} 
 
  
span #img {
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

form button {
    font-size: 0.95em;
    padding: 0.8em 0;
    width: 18.6em;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #c41857;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.15em;
    margin-top: 0.8em;
}

button:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}
form button :hover{
    background-color: #71c418;
}

@media screen and (max-width: 500px) {
    .container {
      font-size: 14px;
    }
}
